# Auto detect text files and normalize line endings
* text=auto
# Track CSV files with Git LFS
*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
